
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
/*@media (min-width: 992px) and (max-width:1200px){
.container {
    width: 1024px;
}
}*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width:991px){
.container {
     width: inherit;
}
}
@media (max-width:880px) and (min-width:712px){
    .heading-top {
    font-size: 25px!important;
    top: 13px;
 }
}

@media (max-width:711px) and (min-width:650px){
    .heading-top {
    font-size: 19px!important;
}
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
      bottom: 0px;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .fixedHeader-floating {
    top: 60px !important;
  }
  div#datatable-buttons_info {
    float: none;
  }
  .tool-list ul{
   margin-left: 0px;
}
   .left-pannel{
    left: 0px!important;
}
    .mobile-show{
        display: block!important;
    }
    .main-page-hide{
        display: none;
    }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
    .heading-top{
        display: none!important;
        
    }
}
@media (max-width:650px){
    .heading-top{
        display: none!important;
        
    }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width:345px){
    .logo-img{
    width: 83px!important;
    margin-top: -13px!important;
    position: absolute;
    }
}
/****************** Page *******************/
.logo-img{
    width:78px; 
    margin-top: -13px;
    margin-bottom: 17px;
}
*:focus {
    outline: 0 !important;
}
.menu-item, .menu-extras,.menu-toggle{
    display: inline-block;
}
.menu-toggle{
    float: right;
}
.cancel-btn{
    margin-right: -18px!important;
}
.fa-15{
    font-size: 1.5em!important;
}
.refresh-link{
        font-size: 30px!important;
    float: right;
    top: 24px;
    position: relative;
    right: 21px;
}
.plus-icon{
    float:right;
    margin-top: 5px;
}
.push-margin{
    margin: 10px;
}
.page-section{
    margin-top: 12em;
}
.heading h2{
    text-align: left;
   display: inline-block;
    color: gray;
}
.heading{
     border-bottom: 1px solid rgba(128, 128, 128, 0.34);
    padding-bottom: 15px;
}
.btn-privew{
    text-align: right;
    float: right;
    margin-top: 16px;
    font-size: 18px;
    padding: 8px 21px 8px 21px;
}
textarea { 
    resize:vertical; 
}
.page-item{
    margin: 20px 0 20px 0;
}
.main-page{
    box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.1);
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    background: white;
}
.main-home-page{
     box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background: white;
    padding-left: 0;
    padding-right: 0;
    
}
.main-page-publish{
    box-shadow: 2px 1px 11px 1px rgba(0, 0, 0, 0.1);
    padding: 0 20px 0px 20px;
    margin-bottom: 20px;
    background: white;

}
.email-inner textarea{
    width: 85%;
}
.push-top{
    position: relative;
    top: 20px;
    bottom: 20px;
}
.margin10{
    margin-top: 10px;
}
.main-page-publish h2{
    display: inline-block;
}
.box-hover:hover .main-home-page{
    box-shadow:2px 3px 5px 1px rgba(31, 86, 137, 0.74);
}
.box-hover:hover .main-page h2{
    color:rgba(31, 86, 137, 1);
}
@media (min-width: 1200px){
.left-pannel {
    width: 31.333333%;
    float:right;
}
}
.tool-list ul, .tool-list-mobile,.tool-list-home ul{
     list-style: none;
    margin-left: -40px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    }
.tool-list  ul li{
   background: rgba(128, 128, 128, 0.04);
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin-bottom: 4px;
}
.tool-list-home  ul li:hover, .tool-list-home  ul li:hover a{
   background: rgba(31, 86, 137, 0.51);
    color:white;
  
}
.main-home-page .heading span {
    padding-left: 18px;
    padding-right: 10px;
}
.heading img{
    padding-left: 20px;
}
.tool-list-home  p{
    margin-bottom: 4px;
    padding: 24px;
    font-size: 16px;
    text-align: justify;
}
 .tool-list-mobile li{
   background: rgba(128, 128, 128, 0.04);
    border: 1px solid rgba(128, 128, 128, 0.26);
    margin-bottom: 4px;
     display: inline-block;
}
.title-input{
    position: relative;
    margin-top: 20px;
}
.title-text{
        position: relative;
    top: 30px;
    font-size: 18px;
    left: 5px;
}
.app-text{
     position: relative;
    font-size: 18px;
    top:10px;
}
.tool-list li span, .tool-list-mobile li span, .tool-list-home li span{
    display: inline;
    padding-right: 15px;
    padding-left: 11px;
}
.tool-list a, .tool-list-mobile a, .tool-list-home a{ 
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    position: relative;
    display: block;
    
}
.canvas-text{
        font-size: 36px;
    text-align: center;
    position: relative;
    
    color: rgba(128, 128, 128, 0.63);
    margin-bottom: 10px;
    top: 0px;
    margin-top: 10px;
}
.canvas{
    width: 100%;
}
.inner-page{
    height: 450px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.26);
}
.tool-list li:hover a, .tool-list li:hover span{
    color:darkorange;
}
.tool-list li:hover{
     background: rgba(128, 128, 128, 0.1);
}
.link-input{
        margin-left: 10px;
    margin-right: 10px;
}
.btn-remove{
    text-align: right;
    float: right;
    margin-top: 6px;
    font-size: 14px;
    padding: 0px 6px 0px 6px;
}

.hr-line{
    margin-top: 38px;
}
.hr-line-top{
        margin-top: 30px;
}
.mobile-show{
    display: none;
}

.push-space{
    margin: 20px 0px 20px 10px
}

.bg-img{
    background-image: url(../img/bg.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}
.menu-extras ul li ul{
    left:20px!important;
}
.menu-extras ul{
        margin-top: -35px!important;
}
.email{
      text-align: center;
    margin-left: 20px;
    color: black;
    font-size: 15px;
}
.tool-list ul, .tool-list-mobile {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
    width: 111%;
    margin-bottom: 20px;
    position: relative;
}
/************ Login Page **************/
.login-page{
    background: #f1f1f1;
}
.login{
width: 320px;
    padding: 8% 0 0;
    margin: auto;
}
.login .company-logo{
    background-image: url(../img/logo.png);
    background-size: 110px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 110px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    text-decoration: none;
    width: 119px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}
.login form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
#loginform p {
    margin-bottom: 0;
}
#loginform span {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    
}
.login label {
    color: #72777c;
    font-size: 14px;
   
}
.login form .input, .login input[type=text], input[type=password] {
    font-size: 24px;
    width: 100%;
    padding: 3px;
    margin: 2px 6px 16px 0;
    background: #fbfbfb;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    outline: 0;
    transition: 50ms border-color ease-in-out;
    color: #32373c;
    border: 1px solid #ddd;
}
.btn-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}
 .btn-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
.ftc-admin{
        margin: 10px 10px 10px 15px!important;
}
.ftc-user{
        margin: 10px 10px 10px 0px!important;
}
.mobile-size{
    width: 360px;
}
.button-list{
    float:right;
}
.publish-btn{
        float: right;
    padding: 20px;
}
.publish-btn .btn{
        font-size: 18px;
    margin-right: 20px;
}
.profile span{
    position: absolute;
    top: 19px;
    left: 63px;
}
.heading-top{
    font-size: 40px;
    color:#006799;
    font-weight: 600;
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 20px;
}

/*********** User Page **********/
input[type=search]{
    border-radius: 20px;
    background: url(../images/search-white.png) no-repeat 11px 7px rgba(247, 247, 247, 0.31);
    padding-left: 32px;
}
 .btn-success{
    color: white;
    background-color: #4cae4c;
    border-color: #4cae4c;
    padding: 10px 15px;
     box-shadow: 2px 3px 4px rgba(128, 128, 128, 0.56);;
    }
 .btn-success:hover{
    color: white;
    background-color: #389138;
    border-color: #4cae4c;
    box-shadow: 2px 3px 4px grey!important;
    }
 .btn-danger{
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 10px 15px;
     box-shadow: 2px 3px 4px rgba(128, 128, 128, 0.56);
    }
 .btn-danger:hover{
    color: white;
    background-color:  #d9534f;
    border-color: #d43f3a;
    box-shadow: 2px 3px 4px grey!important;
    }
.dataTables_info {
    width: 60%;
    float: left;
}
.dataTables_wrapper{
    margin-top: 20px!important;
}
.fa-size{
    font-size: 20px!important;
}

/************ Email ****************/
.template-name{
    width: 85%;
}
.email-inner{
    margin-top: 20px;
}
.email-inner lable{
    font-size: 19px;
}
.email-inner lable select{
    width: 400px;
}
.user-list{
    border: 1px solid rgba(128, 128, 128, 0.26);
}
.btn-email-send .btn{
    float: left;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px 20px 10px 20px ;
}
.cancel{
    margin-left: 20px; 
    margin-top: 40px;
}
.user-list ul li input[type=checkbox]{
    width: 19px;
    height: 19px;
    top: 5px;
    position: relative;
}
.user-list ul{
    list-style: none;
    margin-left: -40px;
}

.check-all{
        top: 10px;
    position: relative;
}
.panel_toolbox>li>a {
    padding: 10px;
    color: black;
    font-size: 14px;
    transition: .7s all ease;
    top: 17px;
    right: 12px;
    font-size: 16px;
}
.panel_toolbox>li>a:hover {
    background: #F95A09;
    color: white;
}
.panel_toolbox>li>a>i {
display: inline;
}
.btn-contact{
    display: inline-block;
    position: relative;
    background: url(../img/menu-icon/Address%20Book-48.png) no-repeat scroll 0 0 transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.user-main{
    display: inline;
    margin: 0px 10px 0px 10px;
}
.template{
    min-height: 300px;
    
}
#fileLoader{
    display: none;
    
}
#btnOpenFileDialog{
    float:right;
    top:25px;
    position: relative;
}

.contact-list-div{
     display: inline-block;
  border: 1px solid #ccc;
  overflow-y: auto;
  resize: vertical;
  width: 85%;
  height: 50px;
  min-width: 85%;
  min-height: 50px;
  max-width: 85%;
  max-height: 120px;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.user-list-preview{
   display: inline-block;
    padding: 4px 0px 0px 7px;
    position: relative;
    background: rgba(128, 128, 128, 0.25);
    margin: 8px;
   
}

.user-list-preview button{
    border-radius: 25px;
    width: 21px;
    height: 21px;
    position: relative;
    background: rgba(194, 189, 189, 0.71);
    border-color: #c2bdbd;
    top: -12px;
    box-shadow: none;
    right: -8px;
      outline:none;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.user-list-preview button:hover{
     background: rgba(194, 189, 189, 0.91);
    box-shadow:  0 1px 1px rgba(0,0,0,.075);
}
.user-list-preview button:focus, .user-list-preview button:active{
 border-color: transparent;

}
.user-list-preview button span{
    position: absolute;
    top: 0px;
    left: 2px;
    color: rgba(128, 128, 128, 0.81);
    font-size: 16px;
}

/***************** Gallery ****************/

.gallery{
    margin: 10px 0px 10px 0px;
    position: relative;
}
.gallery .col-lg-15{
    margin-bottom: 21px;
}

.wrapper{
    position:relative;
    width:160px;
    height:130px;
    margin: 0px 0px 0px 0px;
}

.text-wrapper{
    position:absolute;
    background: rgba(51, 51, 51, 0.72);
    color: white;
    width: 160px;
    bottom: 0;
    text-align: center;
    height: 0px;
    display: none;
    padding-top: 0px;
    transition: height .6s;
    -moz-transition: height .6s; /* Firefox 4 */
    -webkit-transition: height .6s; /* Safari and Chrome */
    -o-transition: height .6s; /* Opera */
    
}
.text-wrapper a{
    color: white;
    text-decoration: none;
        font-size: 16px;
    
}
.img-wrapper:hover + .text-wrapper, .text-wrapper:hover {
    height:130px;
    width:160px;
    padding-top: 5px;
    display: block;
     transition: height .6s;
    -moz-transition: height .6s; /* Firefox 4 */
    -webkit-transition: height .6s; /* Safari and Chrome */
    -o-transition: height .6s; /* Opera */
}
.preview{
        margin-top: 20px;
    margin-bottom: 20px;
}

.icon-hover{
    position: relative;
    top: -4px;
    font-size: 19px;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    
}
#editDatabase input{
     margin-top: 10px;  
    height: 44px;
}
#editDatabase .sub-id{
   padding-top: 10px;
}
.edit-database-btn .db{
    padding: 10px 20px 10px 20px ;
    font-size: 16px;
    margin-right: 20px;
}
.edit-database-btn{
    width: 100%;
}
.test{
    float: left;
    font-size: 16px;
}
.template-width{
    width:100px!important;
}
.action-width{
    width: 1px!important;
}
.th-width{
    width:63px;
}
.history-table{
    margin-top: 10px;
}
.assignsubscription label{
    display: block!important;
        margin: 13px 0px 10px 0px;
}
.assignsubscription select, .assignsubscription input, .select-owner {
    margin-top: 10px;
}
.assign-btn{
    float: right;
    margin-top: 10px;
}
.assign-btn input{
    font-size: 18px;
    margin-right: 10px;
}
.owner-main{
    display: block;
}
.select-owner{
    width: 76%;
}